@import url('https://fonts.googleapis.com/css?family=Arapey:400,400i|PT+Mono|Open+Sans:400,700,700i');

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.ps-container {
  padding: 0 20px;
}

.ps-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0;
  position: relative;
}

.ps-navigation-container--inverted .ps-navigation-link {
  color: #fff;
}

.ps-navigation-container--inverted .ps-icon {
  fill: #fff;
}

.ps-navigation-item--condensed .ps-navigation-link {
  margin-right: 1.3em;
}

.ps-navigation-item--x-condensed .ps-navigation-link {
  margin-right: .5em;
}

.ps-navigation-link {
  text-decoration: none;
  color: #000;
  margin-right: 2em;
  font-size: 20px;
  font-weight: bold;
}

.ps-navigation-link:last-child {
  margin-right: 0;
}

.ps-logo {
  font-family: 'PT Mono', monospace;
  font-size: 36px;
  font-weight: bold;
}

.ps-footer {
  margin-top: 4em;
  background-color: #000;
}

.ps-hero-container {
  margin-top: -126px;
}

.ps-hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ps-hero-banner-image {
  width: 100%;
}

.ps-hero-banner-content {
  position: absolute;
  text-align: center;
  color: #fff;
}

.ps-hero-banner-title {
  font-size: 86px;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

.ps-hero-banner-subtitle {
  font-size: 24px;
  line-height: 34px;
  margin: 15px 0;
}

.ps-cta-button {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  background-color: #000;
  border-radius: 50px;
  padding: 20px 40px;
  display: inline-block;
  border: 1px solid #000;
  margin: 40px 20px 20px 0;
  color: #fff;
  text-decoration: none;
}

.ps-cta-button--transparent {
  color: #000;
  background-color: transparent;
}

.ps-category-banners-container {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  margin-bottom: 315px;
}

.ps-category-banner {
  width: 444px;
  height: 555px;
  text-decoration: none;
}

.ps-category-banner-name {
  margin: 20px 16px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.ps-testimonial-container {
  font-family: 'Arapey';
  background-color: #000;
  padding: 113px 0;
  text-align: center;
  color: #fff; 
}

.ps-testimonial-text {
  font-style: italic;
  font-size: 50px;
  line-height: 52px;
}

.ps-testimonial-author {
  font-size: 40px;
  line-height: 52px;
}

.ps-product-recommendations-title {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}

.ps-title {
  font-family: 'Arapey';
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
}

.ps-subtitle {
  font-family: 'Arapey';
  font-size: 40px;
  font-style: italic;
  line-height: 52px;
  text-align: center;
}

.ps-product-listing-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ps-prodcut-listing-item {
  width: 291px;
  margin: 2%;
  margin-bottom: 12px;
  text-decoration: none;
  position:relative;
}

.ps-prodcut-listing-item:nth-child(4n) {
  margin-right: 0;
}

.ps-prodcut-listing-item__image {
  width: 100%;
  height: 353px;
}

.ps-prodcut-listing-item__name {
  font-family: 'Arapey';
  font-size: 26px;
  line-height: 31px;
  margin: 0 0 12px 0;
  color: #000;
}

.ps-prodcut-listing-item__description {
  font-size: 18px;
  line-height: 24px;
  color: #8f8f8f;
  margin: 0 0 12px 0;
}

.ps-prodcut-listing-item__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 12px 0;
  color: #000;
}

.ps-product-container {
  display: flex;
}

.ps-product-image-container, .ps-product-details-container {
  flex: 1 0 0;
  margin-right: 205px;
}

.ps-product-details {
  width: 80%;
}

.ps-product-image {
  width: 100%;
}

.ps-product-name {
  text-align: center;
  font-family: 'Arapey';
  font-size: 40px;
  line-height: 52px;
  margin: 10px 0;
}

.ps-product-price {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  line-height: 41px;
  font-weight: bold;
  margin: 10px 0;
}

.ps-product-details-divider {
  border: 1px solid #000;
  margin: 20px 0;
}

.ps-product-details-description-title {
  margin: 20px 0 0 0;
  font-family: 'Arapey';
  font-size: 30px;
  line-height: 52px;
}

.ps-product-details-description {
  color: #8F8F8F;
  font-size: 20px;
  line-height: 34px;
  margin: 10px 0 0 0;
}

.ps-pagination-container {
  margin-top: 10px;
  text-align: center;
}

.ps-pagination {
  padding: 10px;
  border: 1px solid #000;
  margin: 4px;
}

.ps-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.ps-add-to-cart-overlay {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #000;
  position: fixed;
  width: 700px;
  top: 20%;
  left: 50%;
  margin-left: -350px;
  z-index: 201;
}

.ps-hidden {
  display: none;
}

.js-close-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.ps-add-to-cart-title {
  font-size: 20px;
  margin: 10px 20px;
}

.ps-add-to-cart-details__name {
  font-size: 18px;
  font-weight: bold;
}

.ps-add-to-cart-details__price {
  font-size: 14px;
  margin: 0;
}

.ps-add-to-cart-content {
  display: flex;
}

.ps-add-to-cart-image-container {
  padding: 20px;
}

.ps-add-to-cart-image {
  width: 175px;
}

.ps-add-to-cart-cta {
  display: flex;
  justify-content: center;
  margin: -20px 0 0 0;
}

.ps-cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ps-overlay {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #000;
  position: fixed;
  width: 960px;
  top: 20%;
  left: 50%;
  margin-left: -480px;
  z-index: 201;
}

.js-close-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.ps-overlay-content {
  display: flex;
  margin: 7px;
}

.ps-overlay-image-container {
  padding: 20px;
  flex: 1 0 0;
}
.ps-overlay-details-container {
  flex: 1;
  justify-content: center;
  align-self: center;
}

.ps-overlay-details {
  width: 340px;
  margin: 0 auto;
  text-align: center;
}
.ps-overlay-image {
  width: 450px;
  height: auto;
}

.ps-overlay-details__title {
  font-family: "Aarpey";
  font-size: 40px;
  line-height: 52px;
}

.ps-overlay-details__content {
  font-size: 20px;
  line-height: 34px;
  color: #8F8F8F;
}

.ps-overlay-cta {
  display: flex;
  justify-content: center;
  margin: -20px 0 0 0;
}

.ps-cta-button--no-side-margins {
  margin-left: 0;
  margin-right: 0;
}

.product-badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
  background-color: #dc1e4d;
  top: 0;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  right: 0.5rem;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 1px 2px 14px 5px #00000070;
  padding: 0.5rem;
}
.product-badge:focus {
  outline: none;
}
.product-badge label {
  margin-top: .3rem;
  margin-bottom: .3rem;
  color: #fff;
  cursor: pointer;
}
.product-badge label#first-title {
  font-size: 1rem;
}
.product-badge label#second-title {
  font-size: .8rem;
}
.product-badge .fa-image {
  color: #fff;
  font-size: 2.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  border: 2px dotted #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: .5rem 0;
  cursor: pointer;
}


.bounce {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 3px, 0);
  }
}
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
}
